/*CSS Rene Gumiel*****************
navBar****************************/

body{
	background:none;
}

.navbar-inner {
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #E3E3E3 0%, #005278 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #E3E3E3 0%, #005278 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #E3E3E3 0%, #005278 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E3E3E3), color-stop(1, #005278));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #E3E3E3 0%, #005278 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #E3E3E3 0%, #005278 100%);

}


.navbar .navbar-fixed-top{
/*	background: none;
	box-shadow:none;*/
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
}


box-shadow: 0px 0px 19px #444242;
}

.container{

    /*box-shadow: 0px 0px 19px #444242;*/

padding: 0px 30px 0px 30px;

}

.row{
	margin-left: 0px;
}

.navbar .nav {
float: right;
}

.navbar .nav>li{
	background:none;
	border-top:none;
	border-left:#0C2305;
}
.navbar .nav>li a{
margin: 0px;
padding: 25px 18px 25px 18px;
color: #0C2305;
font-size: x-large;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.navbar .nav>li a:hover {
	background:none;
 }

 .navbar .brand{
 	padding: 0px 0px 0px 20px;

color: #fff;
font-size: 16px;
font-weight: bold;
text-shadow: none;
 }

 .navbar .brand>img{
	height:75px;
 }

 #bolivia_companiesBrowser{
 	border-radius: 5px;
 	margin-top: 17px;
 	margin-left: 14px;
 	padding-top: 0px;
 	padding-bottom: 0px;
 	padding-left: 10px;
 	
 }

 .navbar .btn-group{
 	padding: 0px;
	margin: 0px;
	margin-left: 0px;
	top: 4px;
	border-radius: 10px;
 } 

 .navbar .btn-group>button{
	margin: 0px;
	margin-left: 0px;
	margin-top: 0px;
	padding: 7px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
 } 

 .navbar .btn-group>button:hover{
 	
 } 

  .navbar .btn-group>button:focus {
 	background: #4E974E;
 	border-color: #4E974E;
 	margin: none;
 } 

 .navbar .menuCollapse{
 	display: inline-block;
 	height:13px;
 	line-height:25px;
 	padding: 0px;
 	margin: 0px;
 }

#ulDropdown{
	padding: 0px;
	margin-left: 14px;
	background:#000000;
	opacity: 0.9;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
}

#brow{
	/*width:100%;*/
}

#browsers{
	list-style: none;
}

#browsers>li{
	width: 273px;
}

#browsers>li>a{
	color :#FFFFFF;
	padding: 0px;
	padding-right: 120px;
}

#browsers>li>a:hover{
	color :#89E224;
	background:none;
	
}

.footer-top{
	background: transparent;
	border: none
}

.footer-top .container{
	background: #3f4c6b; /* Old browsers */
background: -moz-linear-gradient(left,  #3f4c6b 0%, #3c3c66 40%, #4c6a82 60%, #3c5a66 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3f4c6b), color-stop(40%,#3c3c66), color-stop(60%,#4c6a82), color-stop(99%,#3c5a66)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #3f4c6b 0%,#3c3c66 40%,#4c6a82 60%,#3c5a66 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #3f4c6b 0%,#3c3c66 40%,#4c6a82 60%,#3c5a66 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #3f4c6b 0%,#3c3c66 40%,#4c6a82 60%,#3c5a66 99%); /* IE10+ */
background: linear-gradient(to right,  #3f4c6b 0%,#3c3c66 40%,#4c6a82 60%,#3c5a66 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3c5a66',GradientType=1 ); /* IE6-9 */
box-shadow: 0px 0px 19px #444242;
border: none;
}

#content>section .container{
	box-shadow: 0px 0px 19px #444242;
	background: #FFFFFF;
margin-top: 100px;

}